body {
    font-family: Arial;
    background-color: #eef2f7;
    padding: 30px;
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

#output {
    margin-top: 20px;
    padding: 15px;
    background: white;
    border-left: 5px solid green;
    font-size: 18px;
}